@if (toastVisivel()) {
    <app-toast
        [mensagem]="mensagemToast()"
        (fechar)="toastVisivel.set(false)">
    </app-toast> 
}

<div class="filters">
    <div class="form-group">
        <label for="idContrato">Contrato</label>
        <input id="idContrato" type="text" placeholder="Nº do contrato" [(ngModel)]="contratoFiltro" (keyup)="PesquisarPagamentos()">
    </div>
    <div class="form-group">
        <label for="idStatus">Status</label>
        <select id="idStatus" [(ngModel)]="statusFiltro" (change)="PesquisarPagamentos()">
            @for (option of statusOptions; track option.value) {
                <option [value]="option.value">
                    {{ option.label }}
                </option>
            }
        </select>
    </div>
</div>

<app-table
    [columns]="columns"
    [data]="pagamentos()">
</app-table>

